<!-- SIDEBAR -->

<div class="sidebar">

    <!-- HEADER -->

    <div class="sidebar-header">

        <div class="sidebar-logo">

            <div class="sidebar-logo-icon">
                <i class="fa-solid fa-boxes-stacked"></i>
            </div>

            <div>
                <h3>SEYL_KALAN</h3>
                <span>Warehouse Control System</span>
            </div>

        </div>

    </div>

    <!-- MENU -->

    <ul class="sidebar-menu">

        <li onclick="window.location.href='dashboard.html'">

            <i class="fa-solid fa-chart-line"></i>

            Dashboard

        </li>

        <li onclick="window.location.href='inventory.html'">

            <i class="fa-solid fa-file-import"></i>

            Inventario

        </li>

        <li onclick="window.location.href='locations.html'">

            <i class="fa-solid fa-location-dot"></i>

            Ubicaciones

        </li>

        <li onclick="window.location.href='scanner.html'">

            <i class="fa-solid fa-barcode"></i>

            Barrido

        </li>

        <li class="active">

            <i class="fa-solid fa-chart-simple"></i>

            Análisis

        </li>

        <li onclick="window.location.href='reports.html'">

            <i class="fa-solid fa-file-export"></i>

            Reportes

        </li>

    </ul>

    <div class="sidebar-logout">

        <button
            class="logout-btn"
            onclick="logout()">
    
            <i class="fa-solid fa-right-from-bracket"></i>
    
            Cerrar Sesión
    
        </button>
    
    </div>


    <!-- FOOTER -->

    <div class="sidebar-footer">

        <div class="system-status">

            <div class="status-dot"></div>

            Sistema Operativo

        </div>

    </div>

</div>